<%- include("header") %> 
<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>
<div class="box">
    <% for (var i=0; i < allItems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= allItems[i] %></p>
        </div>            
    <% } %>
    <form action="/" method="post" class="item">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="listBtn" value=<%= listTitle %> >+</button>
    </form>
</div>
<%- include("footer") %> 